.song-category-item {
  position: relative;
  height: 50px;
  line-height: 50px;
  &:hover {
    background: white;
    color: purple;
  }
  &:hover .child-menu-wrapper {
    display: block;

    width: max-content;
    height: max-content;

    color: black;

    z-index: 100;
  }
}
