.content-top {
  position: relative;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: minmax(100vh, auto) auto;
  grid-gap: 15px 10px;

  height: auto;
  padding: 15px;

  background-color: #fff;
}
