.top-song-item {
  position: relative;
  height: 100px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.active {
  border: 3px solid purple;
}

.un-active {
  border: none;
}
