.rank-item {
  display: grid;
  grid-template-columns: 30px 62px 60px 1fr 75px;
  grid-template-rows: auto;
  align-items: center;
  justify-content: start;

  padding: 10px;
  border-bottom: 1px #ececec solid;
}
