.week-mv-top-1-overlay {
  position: absolute;

  display: none;

  width: 100%;
  height: 100%;

  background: black;
  opacity: 0.4;
}

.week-mv-top-1:hover .week-mv-top-1-overlay {
  display: block;
}
