.header-inner-inline {
  display: grid;

  grid-template-columns: repeat(3, max-content);
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;

  transition: all 1s ease-in-out;

  margin: 0 auto;
  width: 1000px;
}
.header-inner {
}

.header-middle {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  justify-content: space-between;

  align-items: center;
}
