.child-menu-link {
  & a {
    display: block;

    margin: 0 20px;
    height: 30px;

    background: white;

    font-size: 13px;
    line-height: 30px;
    color: #888;

    &:hover {
      color: purple;
    }
  }
}
