.login-button {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: end;

  & button {
    border: 0;
    height: 50px;
    padding: 0 10px;

    background: transparent;

    font-size: 14px;
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}
