.week-mv-top-1-item {
  position: absolute;

  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto;
  align-items: end;

  padding-left: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}
